/* =========================
   Gemeinsame Transition
   ========================= */
[hero-glass='icon'],
[hero-glass='paragraph'] {
  transition:
    opacity 200ms ease,
    -webkit-filter 200ms ease,
    filter 200ms ease;
  will-change: opacity, filter;
}

/* =========================
         Basiszustand
         ========================= */
[hero-glass='icon'] {
  opacity: 1;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

[hero-glass='paragraph'] {
  opacity: 0;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

/* =========================
         Desktop (Hover)
         ========================= */
@media (min-width: 992px) {
  [hero-glass='card']:hover [hero-glass='icon'] {
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }

  [hero-glass='card']:hover [hero-glass='paragraph'] {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

/* =========================
         Mobile + Tablet (Tap)
         ========================= */
@media (max-width: 991px) {
  [hero-glass='card'].is-active [hero-glass='icon'] {
    opacity: 0;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }

  [hero-glass='card'].is-active [hero-glass='paragraph'] {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
