/* =========================
   Gemeinsame Transition
   ========================= */
[hero-glass='icon'],
[hero-glass='paragraph'] {
  transition:
    opacity 200ms ease,
    filter 200ms ease;
}

/* =========================
      Basiszustand
      ========================= */
[hero-glass='icon'] {
  opacity: 1;
  filter: blur(0px);
}

[hero-glass='paragraph'] {
  opacity: 0;
  filter: blur(10px);
}

/* =========================
      Desktop (Hover)
      ========================= */
@media (min-width: 992px) {
  [hero-glass='card']:hover [hero-glass='icon'] {
    opacity: 0;
    filter: blur(10px);
  }

  [hero-glass='card']:hover [hero-glass='paragraph'] {
    opacity: 1;
    filter: blur(0px);
  }
}

/* =========================
      Tablet (Klick => .is-active)
      ========================= */
[hero-glass='card'].is-active [hero-glass='icon'] {
  opacity: 0;
  filter: blur(10px);
}

[hero-glass='card'].is-active [hero-glass='paragraph'] {
  opacity: 1;
  filter: blur(0px);
}
