/* Farb-Icon zeigen, graues Icon ausblenden */
.solution_text-step.is-active .solution_text-step-image .grey,
.solution_text-step.is-active .solution_text-step-image.grey {
  opacity: 0 !important;
}

.solution_text-step.is-active .solution_text-step-image.colored,
.solution_text-step.is-active .solution_text-step-image .colored {
  opacity: 1 !important;
}

/* Titel & Paragraph einfärben */
.solution_text-step.is-active .solution_text-step-title,
.solution_text-step.is-active .solution_text-step-paragraph {
  color: #d3d3d3 !important; /* oder dein light-grey Hex/Farbwert */
}
